*{
    margin: 0px;
}

.btn-rojo{
    background-color: #e74c3c;
    color: #fff;
    border-radius: 8px ;
}
.container {
    margin: 10px;
  }

.fondo-degradado{
    background-image: linear-gradient( -225deg, #5271c4 0%, #b19fff 48%, #eca1fe 100% );
}