
<div fxLayout="row " 
  fxLayoutAlign="center" >

    <div fxFlex="80"
      fxFlex.lg="85"
      fxFlex.sm="60" 
      fxLayoutAlign="end"
      style="margin-top: 5px;">
        <span class="spacer"></span>
        <span fxLayoutAlign="center" fxLayoutGap="15px" fxLayoutAlign="space-around center" >
          <span class="material-icons"  >
            account_circle
          </span>
          <h1>
            {{usuario.nombre}}
          </h1>
        </span>
    </div>

    <div fxFlex="15"
      fxFlex.lg="10"
      fxFlex.sm="10"
      fxLayoutAlign="end">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="perfil()">
              <mat-icon>settings</mat-icon>
              <span>Perfil</span>
            </button>

            <button mat-menu-item >
                <button (click)="logout()"
                    class="btn btn-danger">
                    <mat-icon>logout</mat-icon>
                <span>Cerrar Sesion </span>
                </button>
            </button>
          </mat-menu>
          
        
    </div>
</div>
         
        
