
<mat-card style="border-radius: 10px;">
    
    <mat-card-header fxLayoutAlign="center">
        <mat-card-title >
            Configuracion de la cuenta
        </mat-card-title>
        <!-- <mat-card-title>{{usuario.nombre}}</mat-card-title> -->
    </mat-card-header>
    <br>

    <mat-card-header 
        fxLayout="row wrap" 
        fxLayout.xs="column"
        fxLayoutAlign="center" >

        <div fxLayout="row wrap" style="margin-left: 10%; margin-right: 10%;" 
            fxFlex="100" >
            <mat-card-subtitle style="margin-left: 10%; margin-right: 10%;" >
                Nombre: 
            </mat-card-subtitle>
            <mat-card-title  >
                {{usuario.nombre}}
            </mat-card-title>
        </div>
            <br>
        <div fxLayout="row wrap" style="margin-left: 10%; margin-right: 10%;" 
            fxFlex="100" >
            <mat-card-subtitle style="margin-left: 10%; margin-right: 12%;" >
                Correo: 
            </mat-card-subtitle>
            <span >
                {{usuario.correo}}
            </span>
        </div>
            
    </mat-card-header>

    <mat-card-actions fxLayoutAlign="center">
        <button mat-button color="warn" 
                [routerLink]="['/home/usuario/editar',usuario.uid]">
            Editar
        </button>
    </mat-card-actions>

</mat-card>
