.sidenav-container {
  height: 100%;
  background: radial-gradient(circle closest-side, rgb(87, 21, 42), rgb(44, 44, 44));
}

.sidenav {
  width: 260px;
}

.sidenav .mat-toolbar {
  background: #8f03fa;
  color: #fff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
