<video onloadedmetadata="this.muted=true" autoplay playsinline loop id="myVideo">
  <source src="../../../../assets/videos/inicio-vid-logo.mp4#t=1" type="video/mp4"/>
</video>  
<mat-sidenav-container class="sidenav-container content" fullscreen > 
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    
    <mat-toolbar class="menu-1">
      <span >
        <mat-icon class="ilu-img-ini" svgIcon="iconMenu"></mat-icon>
      </span>
      <span class="btn-close-menu">
        <button mat-icon-button 
                (click)="drawer.toggle()">
                <!-- close menu -->
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#575861" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
                </span>
        </button>
      </span>
    </mat-toolbar>

    <mat-toolbar class="menu-2">
      <span class="titulo-menu-inicio">Men&uacute;</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <mat-nav-list class="titulos-menu">
      <a routerLink="/home/repertorios/lista" style="margin-top: 10px;"
          mat-list-item (click)="drawer.toggle()">
          <!-- lista icon --> 
          <span  class="titulo-icon"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#575861" class="bi bi-music-note-list" viewBox="0 0 16 16">
              <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
              <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
              <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
              <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </span>
          <span class="titulo-descripcion list-rep">Lista de Repertorios</span>
      </a>

      <a routerLink="/home/repertorios/lista/favoritos" style="margin-top: 15px;"
          mat-list-item (click)="drawer.toggle()">
          <!-- add icon -->
          <span  class="titulo-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#575861" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
          </span>
          <span class="titulo-descripcion add-rep">Favoritos</span>
      </a>

      <a routerLink="/home/compartidos/lista" style="margin-top: 15px;"
          mat-list-item (click)="drawer.toggle()">
          <span  class="titulo-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#575861" class="bi bi-share-fill" viewBox="0 0 16 16">
              <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
            </svg>
          </span>
          <span class="titulo-descripcion comp-conmigo">Compartido Conmigo</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar-header">  
      <div class="col-1">
          <button mat-icon-button class="" (click)="drawer.toggle()">
              <!-- menu icon -->
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="black" class="bi bi-list" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
              </span>
          </button>
      </div>
      <div class="col-11"><app-header></app-header></div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
