<app-header></app-header>
<section class="container">
    <form>
        <div style="margin: 20px auto; max-width: 400px; font-size: 20px;">
            <div class="form-group">
              <label for="exampleInputEmail1">Env&iacute;ale una invitaci&oacute;n</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">No compartiremos esto con nadie.</small>
            </div>
        </div>
    </form>
</section>