
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">

            <input #myuser type="text" class="form control" placeholder="Ingresa usuario">
            <button mat-raised-button color="primary" (click)="onclick(myuser)" >
                <mat-icon>add</mat-icon>
                Agregar
            </button>
            
        </div>
    </div>
</div>

<div fxLayout="column wrap" 
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="25px">

    <div fxFlex="100"
        fxFlex.lg="90"
        fxFlex.sm="80"
        *ngFor="let integrante of correosInte">
        <div class="p-2">
            <app-integrante-tarjeta [integrante]="integrante"></app-integrante-tarjeta>
        </div>
    </div>
</div>