
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">

            <input #myuser type="text" class="form control" placeholder="Ingresa usuario">
            <button mat-raised-button color="primary" (click)="onclick(myuser)" >
                <mat-icon>add</mat-icon>
                Agregar
            </button>
            
        </div>
    </div>
</div>

<div fxLayout="column wrap" 
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="25px">

    <div fxFlex="100"
        fxFlex.lg="90"
        fxFlex.sm="80"
        *ngFor="let integrante of correosInte; index as userno">
        <div class="p-2">

            <mat-card class="tarjeta-cancion" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-card-header fxLayout="row" fxLayoutAlign="space-between start" style="margin-top: 10px;" >
                    <mat-card-title fxLayoutAlign="start">
                        <span class="material-icons">
                            group &nbsp;&nbsp;
                        </span>
                        {{integrante.correo}}
                    </mat-card-title>
                </mat-card-header>

                <mat-card-actions fxLayoutAlign="end start" style="margin-top: -15px;">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" class="customize">
                        <button mat-menu-item 
                            (click)="borrarUsuario(userno)">
                            <button mat-raised-button color="warn">
                                <mat-icon>delete</mat-icon>
                                Eliminar
                            </button>
                        </button>
                    </mat-menu>
                </mat-card-actions>
            </mat-card>

            <!-- <app-integrante-tarjeta [integrante]="integrante"></app-integrante-tarjeta> -->
        </div>
    </div>
</div>