<app-header></app-header>
<div class="home">
    <div class="portada">foto-portada
    </div>
    <!-- PERFIL-FOTO -->
    <div class="perfil">
        <div  class="perfil-user">
            <img src="assets/perfil.jpg" >
        </div>
    </div>
    <!-- NOMBRE -->
    <div class="nombre">
        <div class="" *ngFor="let user of users
            ">
            <div class="noto">
                <h1 style="font-weight: bold;margin-bottom: 0;">{{user.name}}
                </h1>
            </div>
        </div>
    </div>
    <!-- INFO -->
    <div class="info">
        <div class="info-full" *ngFor="let user of users">
            <div class="info-role noto">
                <h4 style="font-weight: bold;margin-bottom: 0;">
                    <img src="assets/user.png" height="20">
                    Rol: {{user.role}}
                </h4>
            </div>
            <div class="info-number noto">
                <h4 style="font-weight: bold;margin-bottom: 0;">
                    <img src="assets/phone-icon.png" height="20">
                    Celular: {{user.number}}
                </h4>
            </div>
        </div>
    </div>
    <!-- PROYECTOS DE MUESTRA -->
    <div class="proyectos">
        
            <div class="proyecto_group" *ngFor="let proyecto of proyectos
            ">
                <figure class="user-img">
                    <img src="assets/proyecto-file.jpg" height="60">
                </figure>
                <div class="noto user">
                    <h3 style="font-weight: bold;margin-bottom: 0;">{{proyecto.img}}
                    </h3>
                    <p style="margin-bottom: 0; font-size: 1.5rem;">{{proyecto.name}}
                    </p>
                    <img src="assets/album.jpg" height="20">
                    <span style="margin-left: 10px;">{{proyecto.description}}</span>
                </div>
            </div>
        
    </div>
  </div>