
<div class="delimiter">
    <div class="my-container-login100">
        <video onloadedmetadata="this.muted=true" autoplay playsinline loop> 
            <source src="../../../../../assets/videos/fondo_vid_logo.mp4#t=1" type="video/mp4"/>
            <img src="../../../../../assets/images/bg-02.jpg" alt="">
        </video>
        
        <section id="sect1" class="sect">
            <div class="" id="main">
                <div id="box1" class="img-logo"></div>
                <div id="box2">
                    <div id="text">Organiza <br>tus repertorios</div>
                </div>
                <div id="box3">
                    <div id="container">
                        <div id="logo"></div>
                        <div id="menu">
                            <li (click)="scroll(target)">Iniciar</li>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="sect2" class="sect sect-media" #target>
            <div class="wrap-login100 p-l-45 p-r-45 p-t-40 p-b-30">
                <router-outlet></router-outlet>
            </div>
        </section>
        <section id="sect3" class="sect-3">
            <h2>Siempre da lo mejor!!</h2>
        </section>
    </div>
</div> 
