<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{cancion.nombre}}</mat-card-title>
      
      <mat-card-actions>
        <!-- <button mat-button>Eliminar</button> -->
        <button mat-button color="warn" (click)="editPartitura()">
            Editar
        </button>
      </mat-card-actions>

    </mat-card-header>
    <div>{{cancion.img}}</div>
    <img mat-card-image [src]="cancion.img" alt="Repertorio">
    <!-- <iframe [src]="cancion.img"
      width="800px" height="680px" type="application/pdf">
    </iframe> -->
  </mat-card>
  