.carta-repertorio{
    border-radius: 10px;
    color: black;
    background-color: rgb(215, 215, 215);
    // background-color: #202020;
}
.carta-repertorio:hover{
    cursor: pointer;
    background: rgb(255, 194, 194);
}