
    
<mat-card class="carta-repertorio">
    <mat-card-header fxLayoutAlign="space-around center" [routerLink]="['/home/repertorios',repertorio._id]">
        <mat-card-title>{{repertorio.nombre}}</mat-card-title>
    </mat-card-header>

    <mat-card-content [routerLink]="['/home/repertorios',repertorio._id]">
        <div fxLayout="column" >
            <div style="margin-left: 4%; margin-right: 6%;">
                <strong style="margin-left: 10%; margin-right: 6%;" >Nombre:</strong>
                {{repertorio.nombre}}
                <br>
            </div>
            <div style="margin-left: 4%; margin-right: 6%;">
                <strong style="margin-left: 10%; margin-right: 6%;">Usuario:</strong>
                <span>
                    {{repertorio.usuario.nombre}}
                </span>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="space-around center" >
        <button mat-button color="warn" 
                [routerLink]="['/home/repertorios/editar',repertorio._id]">
            Editar
        </button>
        <button mat-button color="warn" 
                [routerLink]="['/home/repertorios',repertorio._id]">
            Ver Repertorio
        </button>
    </mat-card-actions>

</mat-card>
