.rectangulo-repertorios{
    height: auto;
    width: 100%;
    left: 40px;
    top: 274px;
    background: #FFFFFF;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

.cancion-tar{
    background-color: #FFF;
    margin: 3% 4% 4%; 
    // padding:1.2% 5%;
    padding: 0;
    border-radius: 18px;
}
.tarjetas-rep{
    padding: 5% 0;
}

.text-hola{
    font-weight: 700 !important; 
    font-size: 1.4rem; 
    color:#7f46f2
}
.text-ind{
    color: #575861;
    font-size: 12px; 
    margin-top: .4rem; 
    font-family: cursive; 
}
.text-rep{
    color: #000;
    font-size: 1.2rem; 
    margin-top: 1.9rem;
}

.btn-add-rep{
    margin-top: .5rem; 
    margin-left: auto;
    margin-right: 7%;
}