
<div>
    <div  class="cancion-tar">
        <br>
        <div>
            <div class="d-flex" style="margin-top: .5rem; padding-left: 5.5%;">
                <label class="text-hola">
                    Hola {{usuario}}
                </label> 
            </div>
            <div class="text-ind">
                Selecciona un repertorio para empezar
            </div>

            <span style="color:  black !important;" >
                <h1 class="text-rep">
                    Tus Repertorios
                </h1>
            </span> 
        </div> 
    
        <!-- <div class="row" style="padding-left: 32px; margin-top: 0.9%;">
            <div  class="col-8" style="text-align: left; vertical-align: middle; margin-left: -0.8%;">
                <div id="formFiltro"> 
                    <div class="text-w-bold text-fs-14" style="margin-left: 10px;color: #000;">
                        <mat-label>Buscar</mat-label>
                    </div>
                    <mat-form-field  appearance="outline" class="w-100" style="padding: 10px;" >
                        <mat-icon matSuffix >search</mat-icon>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa palabra clave" #input
                            style="margin-bottom: 4px; margin-top: -4px; color: #000;">
                    </mat-form-field>
                </div>
            </div>
        </div> -->
    
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px">
            <div fxFlex="31" fxFlex.lg="31" fxFlex.sm="31" *ngFor="let repertorio of repertorios">
                <div class="tarjetas-rep">
                    <app-repertorio-tarjeta [repertorio]="repertorio"></app-repertorio-tarjeta>
                </div>
            </div>
        </div>
    </div>

</div>
