<body class="contenedorUser">
    
    <br>
    <span fxLayout="row"  >
        <span fxLayoutAlign="center" fxFlex="23">
            <button mat-button color="warn" (click)="volver()">
                <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </button>
        </span>
        <span fxLayoutAlign="center" fxFlex="50" style="color: white;">
            <h1>
                <span  style="margin-right: 10px ;"><img src="https://img.icons8.com/color/48/000000/admin-settings-male.png"/></span>
                Datos personales
            </h1>
        </span>
    </span>
    <br>
        <mat-divider></mat-divider>
    <br>

    <div fxLayout="row wrap" style="margin-left: 5%; margin-right: 5%;"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="20px">

        <div fxFlex="80"
            fxFlex.lg="80"
            fxFlex.sm="80"
            *ngFor="let usuario of usuarios">
            <div class="p-2">
                
                <app-usuario-tarjeta [usuario]="usuario"></app-usuario-tarjeta>

            </div>
        </div>
        
    </div>
</body>