
<div>
    <div  class="cancion-tar">
        <br>
        <div>
            <div class="d-flex" style="margin-top: .5rem; padding-left: 5.5%;"> 
                <label class="text-rep-com">
                    Repertorios 
                    <label style="color:#7f46f2">en equipo</label>
                </label>
            </div>
            <div class="text-ind">
                Selecciona un repertorio para interactuar
            </div>
        </div> 
    
    
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px">
            <div fxFlex="31" fxFlex.lg="31" fxFlex.sm="31" *ngFor="let compartido of compartidos">
                <div class="tarjetas-rep">
                    <app-compartido-tarjeta [compartido]="compartido"></app-compartido-tarjeta>
                </div>
            </div>
        </div>

    </div>

</div>