<mat-grid-list cols="1" *ngIf="!repertorio; else divRepertorio">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divRepertorio>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">

        <div fxFlex="50">
            <h1>
                {{repertorio.nombre}}
                <!-- <small>-{{repertorio.usuario.nombre}}</small> -->
                <mat-divider></mat-divider>
                <br>
                <!-- <img [src]="repertorio | imagen" alt=""> -->
            </h1>
        </div>

        <div fxFlex="50" style="color: white;">
            <mat-label>Canciones: </mat-label>
            <mat-divider></mat-divider>
            <mat-list>
                <!-- <mat-label>Nombre</mat-label>
                <mat-list-item>{{repertorio.nombre}}</mat-list-item> -->

                <!-- Traer cancion por repertorio -->
                <div fxFlex="20"
                    fxFlex.lg="15"
                    fxFlex.sm="30"
                    *ngFor="let cancion of canciones">
                    <div class="p-2">
                        <app-cancion-tarjeta [cancion]="cancion"></app-cancion-tarjeta>

                    </div>
                </div>
            </mat-list>
            <br>

            <button mat-button color="warn" (click)="volver()">
                Volver
            </button>
        </div>

    </div>
</ng-template>