<br>

<span fxLayout="row"  >
    <span fxLayoutAlign="center" fxFlex="23">
        <button mat-button color="warn" (click)="volver()">
            <span class="material-icons">
                arrow_back
                </span>
        </button>
    </span>
    <span fxLayoutAlign="center" fxFlex="50">
        <h1>
            <span class="material-icons"> 
                playlist_add
            </span>
            {{
                (repertorio._id)
                ? 'Editar repertorio'
                : 'Agregar repertorio'
            }}
            :
            <!-- <small> 
                {{repertorio.nombre}}
            </small>  -->
        </h1>
    </span>
</span>
<br>
    <mat-divider></mat-divider>
<br>


<div fxLayout="row" style="margin-left: 8%; margin-right: 8%;"
    fxLayoutGap="60px"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    >

    <div 
        fxFlex="60"
        fxFlex.lg="50"
        fxFlex.sm="50">
        
        <div fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="20px">

            <mat-form-field fxFlex="100"
                            fxLayout.xs="column">
                <mat-label>
                    Nombre
                </mat-label>
                <input type="text"
                        matInput
                        [(ngModel)]="repertorio.nombre"
                        required>
            </mat-form-field>

        </div>
        <br>

        <div fxLayout 
            fxLayout.xs="column" 
            fxLayoutAlign="space-evenly center">
            <button *ngIf="repertorio._id"
                    mat-raised-button
                    color="warn"
                    (click)="borrarRepertorio()">
                <mat-icon>delete</mat-icon>
                Eliminar
            </button>
            <br>

            <span class="spacer"></span>

            <button mat-raised-button 
                    color="accent"
                    (click)="guardar()">
                <mat-icon>save_as</mat-icon>
                {{
                    (repertorio._id)
                    ? 'Actualizar repertorio'
                    : 'Crear repertorio'
                }}
            </button>
        </div>

    </div>
    <br>
    
    
</div>