img {
    width: 100%;
    border-radius: 5px;
  }

*{
  color: black;
}
.contenedor { 
  position: relative;
}

.hijo { 
  position: absolute;
  margin-top: 4%;
  left: 20%;  
  width: 60%;
  flex-direction: column; 
  padding: 1rem 3.7rem; 
  background-color: #fff;
  border-radius: 18px;
}