<div class="contenedor">
    <i role="button" class="bi bi-x-lg" (click)="volver()">
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>
    </i>
    <div  class="d-flex justify-content-between hijo"> 
        <div class="d-flex" style="margin-top: .5rem; padding-left: 33%;">
            <label class="text-w-700" style="font-weight: 700 !important; font-size: 1.4rem; ">
                {{
                    (repertorio._id)
                    ? 'Editar'
                    : 'Agregar'
                }}
                <label style="color:#7f46f1">Repertorio</label>
            </label> 
        </div>

        <div fxFlex="60" fxFlex.lg="50" fxFlex.sm="50">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
                <mat-form-field fxFlex="100" fxLayout.xs="column">
                    <mat-label> Nombre </mat-label>
                    <input type="text" matInput [(ngModel)]="repertorio.nombre" required>
                </mat-form-field>
            </div>

            <span fxLayout="row wrap" fxLayout.xs="column" style="margin-top: -25px; padding-right: 50px;" *ngIf="repertorio._id">
                <label for="archivo" fxFlex="100">
                    <img style="margin-top: 10%; margin-right: 4%; margin-left: 4%;
                        height: 200px; width: 100%; border-radius:  10px; " 
                        fxLayout="row wrap" fxLayout.xs="column"
                        mat-card-xl-image [src]="imageSrc || repertorio.img || imgDefault" >
                        <span style="padding-left: 37%; padding-top: 0%;"> Seleccionar Imagen</span>
                    </label>
                    <form class="custom-input-file"  style="margin-left: 50%; display: none; " *ngIf="repertorio._id">
                        <input type="file" id="archivo" (change)="onFileChange($event)" name="archivo" >
                    </form>
            </span>


            <div fxLayout style="margin-top: 25px; margin-bottom: 20px;" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
                <button *ngIf="repertorio._id" mat-raised-button style="background-color: #FE5050;color: white; width: 25%;"
                        (click)="borrarRepertorio()" class="button-global button-text iconify-mright button-dark"> 
                    Eliminar
                </button>  
                <button class="button-global button-text iconify-mright button-dark button-bg-purple" style="width: 25%;" 
                    (click)="guardar()" [disabled]="!sizeIsValid">
                <span class="spanFilter"style="color: white;"> 
                    {{
                        (repertorio._id)
                        ? 'Actualizar'
                        : 'Crear'
                    }}
                </span>
            </button>
            </div>

        </div> 
    </div>
</div>