<br>

<span fxLayout="row"  >
    <span fxLayoutAlign="center" fxFlex="23">
        <button mat-button color="warn" (click)="volver()">
            <span class="material-icons">
                arrow_back
                </span>
        </button>
    </span>
    <span fxLayoutAlign="center" fxFlex="50">
        <h1>
            <span class="material-icons"> 
                edit
            </span>
            {{
                (usuario.uid)
                ? 'Editar usuario'
                : 'Agregar usuario'
            }}
            :
        </h1>
    </span>
</span>
<br>
    <mat-divider></mat-divider>
<br>

<div fxLayout="row" style="margin-left: 8%; margin-right: 8%;"
    fxLayoutGap="60px"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    >

    <div fxFlex="60"
        fxFlex.lg="50"
        fxFlex.sm="50">
        
        <div fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="20px">

            <mat-form-field fxFlex="100"
                            fxLayout.xs="column">
                <mat-label>
                    Nombre
                </mat-label>
                <input type="text"
                        matInput
                        [(ngModel)]="usuario.nombre"
                        required>
            </mat-form-field>

        </div>
        
        <div fxLayout="row">
            <mat-form-field fxFlex="100"
                fxLayout.xs="column">
                <mat-label>
                    Correo
                </mat-label>
                <input type="text"
                            matInput
                            [(ngModel)]="usuario.correo"
                            required>
            </mat-form-field>
        </div>

        <!-- <mat-form-field >
            <mat-label>
                Creador
            </mat-label>
            <mat-select required
                        [(ngModel)]="usuario.publisher"
                        >
                <mat-option *ngFor="let publisher of publishers"
                            [value]="publisher._id">
                    {{publisher.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- <mat-form-field >
            <mat-label>
                Url Foto
            </mat-label>
            <input type="url"
                    matInput
                    [(ngModel)]="usuario.alt_img"
                    required>
        </mat-form-field>
        <br> -->
        
        <div fxLayout fxLayout fxLayoutAlign="center">
            <span class="spacer"></span>

            <button mat-raised-button 
                    color="accent"
                    (click)="guardar()">
                <mat-icon>save_as</mat-icon>
                {{
                    (usuario.uid)
                    ? 'Actualizar usuario'
                    : 'Crear usuario'
                }}
            </button>
        </div>
        
    </div>
    <br>

    <!-- <div fxFlex="50">
        <img [src]="usuario | imagen" alt="usuario">
    </div> -->

</div>