
<br>

<h1 for="archivo" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" >
    <img src="https://img.icons8.com/color/48/000000/notepad.png"/>
    {{
        (cancion.img)
        ? 'Editar Partitura'
        : 'Agregar Partitura'
    }}
</h1>
<br>

 
<div fxLayout="row" fxLayout.xs="column" 
    style="background-color: rgb(255, 255, 255); border-radius: 12px; border-style:dashed; border-color: rgb(128, 177, 165);">
    <form style="height: 150px !important;" >
        <label for="archivo" style="background-color: rgb(255, 255, 255); border-radius: 12px; margin-left: 95%;">
            <!-- <img style="width: 150px; height: 100px; border-radius: 12px;" 
                src="../../../../../assets/imagen-modulos/subir-file-2.png"> -->
            <img src="https://img.icons8.com/color/144/000000/upload-2--v1.png"/>
        </label>
        
        <input type="file" id="archivo" (change)="onFileChange($event)" name="archivo" style="display: none;">
    </form> 
</div>
<div style="color: black; margin-left: 25%; margin-top: -40px ;overflow: hidden;">{{nombreFile}}</div>    
<br>

<div fxLayout="row" fxLayout.xs="column" >
    <div mat-dialog-actions style="margin-left: 30%;"> 
        <button mat-raised-button 
                color="accent"
                (click)="onUpload()">
                <span><img style="height: 25px; width: 25px;" src="https://img.icons8.com/wired/64/000000/save.png"/></span>
            {{
                (cancion.img)
                ? 'Editar Partitura'
                : 'Crear Partitura'
            }}
        </button>
    </div>
</div>